#main > *
{
  margin:10px;
  padding:10px; 
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

#header
{
  font-family:"Droid Sans";
}

#legend
{
  font-family:"Reenie Beanie";
  font-size:2em;
  margin-right:20px;
}

#login-button > *
{
  float:left;
}

#content
{
  display:none;
}

ul li.pass 
{
  color:green;
  list-style-image:url(../img/accept.png);
}

ul li.fail 
{
  color:red;
  list-style-image:url(../img/cancel.png);
}

#info 
{
  float:right;
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  padding:10px;
}