#main > *
{
  margin:10px;
  padding:10px; 
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

body
{
  font-family:"Droid Sans";
}

#legend
{
  font-family:"Reenie Beanie";
  font-size:2em;
  margin-right:20px;
}

#login-button > *
{
  float:left;
}

#content
{
  display:none;
}

#run
{
  margin:10px;
  padding:10px;
}

#run:hover
{
  cursor:pointer;
}

ul li.pass 
{
  color:green;
  list-style-image:url(../img/accept.png);
}

ul li.fail 
{
  color:red;
  list-style-image:url(../img/cancel.png);
}

#test-results div
{
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  padding:5px;
  margin:10px 0px;
  text-transform:capitalize;
}

div h3 
{
  padding:10px;
}

div.fail
{
  background-color:#EBB;
}

div.fail ul li.pass
{
  color:black;
}

div.fail h4
{
  color:red;
}

#info 
{
  background-color:#CCD;
  float:right;
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  padding:10px;
}

#info span:hover
{
  cursor:pointer;
}
#info .do-not-run
{
  text-decoration:line-through;
  color:#AAA;
}