/*********  General  ************/
#main > *
{
  margin:10px;
  padding:10px; 
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}

body
{
  font-family:"Droid Sans";
}

/*********  Top Div (Login with LinkedIn)  ************/
#legend
{
  font-family:"Reenie Beanie";
  font-size:2em;
  margin-right:20px;
}

#login-button > *
{
  float:left;
}

/*********  Content  ************/
#content
{
  display:none;
}

/*********  Content => Control Panel  ************/
#run
{
  margin:10px;
  padding:10px;
}

#run:hover
{
  cursor:pointer;
}

/*********  Content => Results  ************/
#test-results div
{
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  padding:5px;
  margin:10px 0px;
}

ul li.pass 
{
  color:green;
  list-style-image:url(../img/accept.png);
}

ul li.fail 
{
  color:red;
  list-style-image:url(../img/cancel.png);
}

div h3 
{
  padding:10px;
}

div.fail
{
  background-color:#EBB;
}

div.fail > h4
{
  color:red;
}

/*********  Content => Info panel (Tests Loaded)  ************/

#info 
{
  background-color:#CCD;
  float:right;
  border:1px solid gray;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  padding:10px;
}
