<html>
<head>
  <title>LinkedIn Connect Testing Framework</title>
  <link href="style/main.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Droid+Sans' rel='stylesheet'>
  <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script src="http://yui.yahooapis.com/2.8.1/build/logger/logger-min.js"></script>
  <script src="http://yui.yahooapis.com/2.8.1/build/yuitest/yuitest-min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controls.js"></script>
  <script src="js/display.js"></script>
  <script src="js/test_suite.js"></script>
  <script src="js/test_loader.js"></script>
  <script src="js/test_runner.js"></script>
  <% server = params[:server] || "pfernandez-box.linkedin.biz:8080" %>
  <% key = params[:key] || "consumer_key_2" %>
  <% script_src = "http://#{server}/uas/connect/jsServlet/bootstrap/in.js" %>
  <script type="text/javascript" <%="src='#{script_src}'"%>>
	api_key: <%=key%>
	onLoad: IN.Test.onLogin
  </script>
</head>
<body>
  <div id='main'>
    <div id="login-button">
      <div id="legend">To run the test suite...</div>
      <script type="in/login"></script>
      <br style="clear:both"/>
      <a href="https://pfernandez-box.linkedin.biz:8443/leo/secure/" target="_blank">get this machine SSL cert!</a>
      <br style="clear:both"/>
    </div>
    <div id='header'>
      <h1>LinkedIn Connect Test Framework</h1>
    </div>
    <div id="content">
      <div id="info">
      </div>

      <div id="control-panel">
        <button id="run">Run Tests</button>
      </div>

      <div id="test-results">
      </div>
      <br style="clear:both"/>
    </div>
  </div>
</body>
</html>