<html>
<head>
  <style>
  @font-face 
  {
    font-family: 'Inconsolata';
    src: local(''), url('Inconsolata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *
  {
    font-family: 'Inconsolata', arial, serif;
  }

  div
  {
    padding:5px 15px 10px 40px;
    margin:5px;
    border:1px solid gray;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    height:15px;
    width:800px;
    cursor:pointer;
  }

  .test-case
  {
    background:url(./resources/ok.png) no-repeat left top;
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    background-color:#AFA;
    opacity:0.6;
  }

  .test-case:hover
  {
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    opacity:1;
    background-color:#AFA;
  }

  div.fail:hover
  {
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    opacity:1;
  }

  div.fail
  {
    background:url(./resources/error.png) no-repeat left top;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    opacity:0.6;
    background-color:#FAA;
  }

  #connect-url
  {
    width: 500px;
  }

  </style>
  <title>Connect</title>
</head>
<body>
  <section id='menu'>
    <label for='connect-url'>File to test:</label>
    <input type='text' id='connect-url' />
    <button id='load-connect-framework'>Load</button>
  </section>
  <section id='content'></section>
  <script src='js/main.js'></script>
  <script type="in/login"></script>
  <script src='js/visuals.js'></script>
  <!-- Framework Files -->
  <script src="js/yui.js"></script>
</body>
</html>
