<html>
<head>
  <style>
  @font-face 
  {
    font-family: 'Inconsolata';
    src: local(''), url('Inconsolata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *
  {
    font-family: 'Inconsolata', arial, serif;
  }

  div
  {
    padding:5px 15px 10px 40px;
    margin:5px;
    border:1px solid gray;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -o-border-radius:15px;
    height:15px;
    width:800px;
    cursor:pointer;
  }

  .test-case
  {
    background:url(./resources/ok.png) no-repeat left top;
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    background-color:#AFA;
    opacity:0.6;
  }

  .test-case:hover
  {
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    opacity:1;
    background-color:#AFA;
  }

  div.fail:hover
  {
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    opacity:1;
  }

  div.fail
  {
    background:url(./resources/error.png) no-repeat left top;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    opacity:0.6;
    background-color:#FAA;
  }

  #connect-url, #connect-key
  {
    width: 700px;
    font-size:20px;
  }

  #load-connect-framework
  {
    font-size:25px;
    cursor:pointer;
  }

  #title, #menu
  {
    padding: 10px 20px;
  }

  </style>
  <title>Connect</title>
</head>
<body>

  <section id='title'>
    <h1>Connect Testing Framework</h1>
    <h3>Please enter server and api-key</h3>
  </section>

  <section id='menu'>
    <label for='connect-url'>File to test:</label><br/>
    <input type='text' id='connect-url' value='<%=server_url%>' /><br/>
    <label for='connect-key'>Connect Api key:</label><br/>
    <input type='text' id='connect-key' value='<%= params[:key] || "lJpJujyBNPjmE7ToElSznzlaEsBnD371aSRNslkeuwd--9sdwlndibvSd-mKY3fV"%>' /><br/>
    <button id='load-connect-framework' onclick='loadFramework();'>Load</button>
  </section>

  <section id='content'>
    <!-- test results go here -->
  </section>
  <script src='js/yui.js'></script>
  <script type="in/login"></script>
  <script src='js/visuals.js'></script>
  <!-- Framework Files -->
  <script>
    function loadFramework () {
      document.getElementById('load-connect-framework').setAttribute('disabled', true);
      var source = document.getElementById('connect-url').value;
      var tag = document.createElement('script');
      var key = document.getElementById('connect-key').value;
      tag.src = source;
      tag.appendChild(document.createTextNode("\napi_key: "+ key +"\nonLoad:LinkedIn.Test.onLogin\n"));
      document.getElementsByTagName('head')[0].appendChild(tag);
    }

    function frameworkLoaded () {
      console.log('framework done');
    }
  </script>
</body>
</html>
